html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  font-family : inherit;
  font-size: inherit;
}

body {
  background: radial-gradient(circle at center, #e6e7e8, #a5a5a5);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
