@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Architects+Daughter&family=Chilanka&family=Coming+Soon&family=Gaegu:wght@300;400&family=Grape+Nuts&family=Just+Me+Again+Down+Here&family=Klee+One:wght@400;600&family=Loved+by+the+King&family=Nanum+Brush+Script&family=Reenie+Beanie&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=Square+Peg&family=Sue+Ellen+Francisco&family=The+Girl+Next+Door&family=Waiting+for+the+Sunrise&family=Yomogi&display=swap');

.notreallyathing {
    font-family: 'Annie Use Your Telescope', cursive;
    /* font-family: 'Architects Daughter', cursive;
    font-family: 'Chilanka', cursive;
    font-family: 'Coming Soon', cursive;
    font-family: 'Gaegu', cursive;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Just Me Again Down Here', cursive;
    font-family: 'Klee One', cursive;
    font-family: 'Loved by the King', cursive;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Square Peg', cursive;
    font-family: 'Sue Ellen Francisco', cursive;
    font-family: 'The Girl Next Door', cursive;
    font-family: 'Waiting for the Sunrise', cursive;
    font-family: 'Yomogi', cursive; */
}