.cardContainer {
    background-color: rgba(20, 30, 70, 0.5);
}

.microprojectCard {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 1px;
    padding: 30px;
    width: 500px;
}

.assignedTo {
    font-weight: 900;
    font-size: 1.5em;
}

.title {
    font-weight: 900;
    font-size: 2em;
}


@media print {
    .actionCard {
        border-color: black;
        /* width: 100%; */
        page-break-inside: avoid;
    }

}