@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

.bigButton {
    background-color: rgba(235,235,235,1.0);
    border-radius: 5px; 
    border: none;
    /* color: white; */
    padding: 15px 32px;
    padding-bottom: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-family: 'Catamaran'; */
    font-size: 60px;
    font-weight: 900;
    box-shadow: 3px 5px 5px rgba(10, 16, 16, 0.5);
    cursor: pointer;
}

.bigButton:active {
  box-shadow: 1px 2px 3px rgba(46, 75, 75, 0.8);
}

.heavy {
    font-weight: 900;
}